
.container{
    height: 100vh;
    border: 2px solid;
    background-color: rgb(255, 255, 135);
}
.c4{
    margin-right: 20px;
}
.top{
      display: grid;
    grid-template-columns: auto auto auto 1fr;
    padding: 10px;
   margin: 20px;
   column-gap: 16px;
    background-color: rgb(54, 147, 233);
}
.bottom{
    display: flex;
      padding: 20px;
   margin: 20px;
    height: 480px;
    background-color: rgb(54, 147, 233);

}
    
.c1, .c2, .c3{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
    border-radius: 50%;
}
.c4{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
    border-radius: 50%;
      justify-self: end;
}

.pink{
    margin: 10px;
    background-color: rgb(255, 194, 204);
    width: 400px;
    height: 460px;
}
.purple{
    margin: 10px;
    background-color: rgb(255, 138, 255);
    width: 1000px;
    height: 460px;
}

.green1{
    margin: 20px;
    background-color: rgb(138, 255, 138);
    width: 938px;
    height: 330px;
}
.green2{
    margin: 20px;
    background-color: rgb(138, 255, 138);
    width: 938px;
    height: 70px;
}