
#d1 {
    border: 2px solid;
    padding: 20px;
    background-color:rgb(255, 254, 196);
}

#d2 {
    display: flex;
}

#d3 {
    display: block;
    padding-left: 20px;
     width:1100px;
}
#left{ 
    background-color:rgb(94, 209, 248);
    border-radius: 5%;
    border: 2px solid;
    width: 400px;
    height: 480px;

}
#circle{
    margin-top: 5px;
    margin-left: 120px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
}

#h1{
    
    background-color:rgb(94, 209, 248);
    border: 2px solid;
    height: 90px;
}
#h3{
    background-color:rgb(94, 209, 248);
    margin-top: 5px;
    border: 2px solid;
    height: 260px;
    font-size: 50px;
}
#h4{
    background-color:rgb(94, 209, 248);
    border: 2px solid;
    height: 180px;;
}
